# Directories
public/assets/
public/bundles/
node_modules/
var/
vendor/
.cache/
.phpunit.cache/
tmp/

# Files
*.sw?
.env.*
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
phpunit.xml
docker-compose.override.yml*
!docker-compose.override.yml.dist
npm-debug.log
tests/fixtures/hg-repo/.hg/cache
yarn-error.log
