.phpunit.cache/
node_modules/
public/assets/
public/bundles/
tmp/
var/
vendor/
.php_cs.cache
.phpunit.result.cache
.php-cs-fixer.cache
*.sw?
.env
docker-compose.override.yml
npm-debug.log
phpunit.xml
yarn-error.log
