volumes:
  var-cache-volume:

services:
  node:
    build:
      context: docker/node/
    working_dir: /application
    volumes:
      - .:/application
    command: sh -lc "npm ci && npm run watch"
    tty: true

  webserver:
    build:
      context: docker/nginx/
    depends_on:
      - php-fpm
    working_dir: /application
    volumes:
      - .:/application:cached
    ports:
      - '8880:80'

  php-fpm:
    build:
      context: docker/php-fpm/
    working_dir: /application
    volumes:
      - .:/application:cached
      - var-cache-volume:/application/var/cache
      - $HOME/.composer:/root/.composer/:cached
      - /tmp:/var/repositories
    extra_hosts:
      - "host.docker.internal:host-gateway"
