parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
    ignoreErrors:
        - '#Method GitZenith\\Kernel::configureContainer\(\) is unused.#'
        - '#Method GitZenith\\Kernel::configureRoutes\(\) is unused.#'
        - '#Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface::getFlashBag#'
