---

controllers:
  resource: ../src/App/Controller/
  type: attribute

# Web application
# repository_list_commits:
#   path: /{repo}/commits/{commitish}
#   controller: GitZenith\App\Controller\Repository::listCommits
#   requirements:
#     repository: '%valid_repository_name%'
