// Import bootstrap functions and variables first
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';

/* Define own variables */

// Basic configuration
$enable-gradients: true;
$enable-print-styles: false;

// Typography
$font-size-root: 1rem;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-md: $font-size-base * 1;
$font-size-lg: $font-size-base * 1.25;
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;
$btn-font-weight: 700;

// Colors
$min-contrast-ratio: 2;
$blue: #4078c0;
$gray: #767676;
$green: #6cc644;
$orange: #c9510c;
$purple: #6e5494;
$red: #bd2c00;
$cyan: #b8cbd4;

// Theme
$primary: $blue;
$secondary: #fcfcfc;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: #999;
$dark: #333;

// Component colors
$card-cap-bg: $secondary;
$card-cap-color: $dark;
$code-bg: #f5f5f5;

// Component overrides
$code-border-radius: 6px;

/* Include bootstrap */
// Basics
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';

// Layout & components
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/placeholders';

// Helpers
@import '~bootstrap/scss/helpers';

// Utilities
@import '~bootstrap/scss/utilities/api';

// IonIcons
@import '~ionicons/dist/scss/ionicons';

/* Local overrides */
@import 'buttons';
@import 'breadcrumb';
@import 'card';
@import 'navbar';
@import 'repository';
@import 'blame';
@import 'diff';
@import 'tree';

// Layout
.module-row {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

header {
  margin-bottom: 1rem;
}

.icon {
  margin-right: 0.25rem;
}

.icon-solo {
  margin-right: 0;
}

footer {
  color: tint-color($gray, 40%);
  margin: 2rem 0;

  a {
    color: inherit;
  }
}

// Editor styling fixes
.CodeMirror {
  font-family: $font-family-monospace;
  color: $body-color;
  height: 600px;
}

.ace_editor {
  margin-bottom: 0;
}
